/*tasks.body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #495057;
}

.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c0392b;
    border-color: #c0392b;
}

.btn-success {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-success:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.table {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table td, .table th {
    vertical-align: middle;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table-bordered {
    border-radius: 10px;
    overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}*/