<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Todo List</h2>
    <a th:href="@{/addNewTask}" class="btn btn-primary">Add new Task</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${listTasks}">
            <td th:text="${task.name}"></td>
            <td th:text="${task.dueDate}"></td>
            <td th:text="${task.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>